include LICENSE
include MANIFEST.in
recursive-include crispy_bootstrap3/templates *
include *.md
include tox.ini
recursive-include requirements *.txt
recursive-include tests *.html
recursive-include tests *.py
